{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>HTML5 Links</title>
  <link rel="stylesheet" href="{% static 'bookmodule/main.css' %}">
</head>
<body>

<div class="page-wrap">
  <a id="link1" class="link-block" href="https://www.qu.edu.sa" target="_blank">
    Go to QU website (open a new tab)
  </a>

  <a id="link2" class="link-block" href="https://www.qu.edu.sa" target="_self">
    Go to QU website (open in the same page/tab)
  </a>

  <a id="link3" class="link-block" href="https://www.qu.edu.sa" target="_self">
    Go to QU website (open in the same page/tab)
  </a>
</div>

</body>
</html>